
body{
    font-family: "sans-serif;";
    margin: 0;
}

header{
    background-color: #202020;
    height: 50px;
    margin: 0px;
}
a{
    text-decoration:none; 
    color: #b5b5b5;
}
.menu{
    float: left;
    padding: 14px;
    font-size: 16px;
}
.menu a:visited{
    color: #b5b5b5;
}
.menu a:hover{
    color: white;
}

.main{
    margin: 20px;
    padding: 40px;
}
.bgm{
    float: right;
    padding: 0px 10px;
    border: 1.5px solid #e0e0e0;
}
.quiz{
    background-color: #2f4f4f;
    color: white;
    padding: 5px 20px;
}